body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'avenir';
  overflow-x: hidden;
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
  padding: 0;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: black;
}

/* Table */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

thead {
  border-bottom: 1px solid black;
}

th {
  text-align: left;
  padding: .25rem 0rem;
}

td {
  padding: .5rem 0rem;
}

tr {
  border-bottom: 1px solid #ccc;
}

tr:last-child {
  border-bottom: none;
}

tbody > tr:hover {
  background-color: #eee;
}

/* */

.app-container {
  display: flex;
  overflow: hidden;
  height: 100vh;
}

.navbar {
  width: 100%;
  height: 3.5rem;
  background-color: #ddd;
}

.sidebar {
  display: flex;
  height: 100vh;
  width: 18%;
  min-width: 200px;
  background: #38ceff; /* lightBlue */
}

.sidebar-navlinks {
  display: flex;
  flex-direction: column;
  padding: 3.5rem 1rem 1rem 1rem;
}

.navlink {
  padding: .5rem 0rem;
}

.active-nav {
  font-weight: bold;
}

.main-container {
  display: flex;
  flex-direction: column;
  width: 82%;
}

.content-container {
  flex-grow: 1;
  height: 100%;
  padding: 1rem;
  overflow: auto;
}

.courses-container {
  display: flex;
  flex-direction: column;
}

.items-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.item-container--sm {
  display: flex;
  flex-direction: column;
  width: 30%;
  min-width: 250px;
  margin: 1rem 1% 0 2%;
}

.item-container--lg {
  display: flex;
  flex-direction: column;
  width: 96%;
  margin: 1rem 2% 0 2%;
}

.table-container {
  border: 1px solid #ccc;
  border-radius: .5rem;
  padding: 1.5rem;
}

.header {
  font-size: 1.75rem;
  margin-left: 2%;
  margin-bottom: 1rem;
}

.header--2 {
  font-size: 1.5rem;
  margin-left: 2%;
  margin-bottom: 1rem;
}

.header--3 {
  font-size: 1.15rem;
  margin: 0;
  margin-bottom: 1rem;
  font-weight: 500;
}

/** Course Card CSS **/

.courses-card-container {
  display: flex;
  flex-wrap: wrap;
}

.course-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 25%;
  min-width: 200px;
  min-height: 100px;
  margin: 2%;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0 10px 40px -10px rgba(0,64,128,.35);
  background-color: #ffb294;
}

.course-card:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.course-card--header {
  display: flex;
  justify-content: center;
}

.course-card--body {
  display: flex;
  justify-content: space-around;
}

.course-card--icon {
  display: flex;
  justify-content: center;
  height: 2rem;
}

.course-card--shortname {
  font-size: 1.25rem;
  font-weight: 600;
  text-align: center;
  margin: .5rem 0rem;
}

.course-card--name {
  font-size: 1rem;
  color: #555;
  text-align: center;
  margin: .5rem 0rem;
}

/** Accordian CSS **/

.accordion {
  border: 1px solid #ccc;
  background-color: #eee;
  border-radius: .25rem;
  width: 100%;
}

.accordion--item {
  /* border-radius: .25rem; */
}

.accordion--item + .accordion--item {
  border-top: 1px solid #ccc;
}

.accordion--title {
  /* background-color: #eee; */
  color: #444;
  cursor: pointer;
  border: none;
  padding: 1rem;
}

.accordion--title h3 {
  margin: 0;
  text-decoration: underline;
  font-weight: 400;
  font-size: .9rem;
}

.accordion--body {
  display: flex;
  background-color: #fff;
  padding: 1rem;
}

.accordion--body p {
  margin: 0;
  font-size: .8rem;
}

.accordion--body-hidden {
  display: none;
}

/** Panel CSS **/

.panel {
  border: 1px solid #ccc;
  border-radius: .25rem;
  padding: 1rem;
}

.panel-body {
  display: flex;
  justify-content: space-between;
  font-size: .9rem;
  padding: .5rem 0rem;
  border-bottom: 1px solid #eee;
}

.panel-body:last-child {
  border-bottom: none;
}
