body {
  margin: 0;
  padding: 0;
  font-family: 'avenir';
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
  padding: 0;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: black;
}

.app-container {
  display: flex;
}

.navbar {
  width: 100%;
  height: 3.5rem;
  background-color: #ddd;
}

.sidebar {
  display: flex;
  height: 100vh;
  width: 18%;
  min-width: 200px;
  background: #38ceff; /* lightBlue */
}

.sidebar-navlinks {
  display: flex;
  flex-direction: column;
  padding: 3.5rem 1rem 1rem 1rem;
}

.navlink {
  padding: .5rem 0rem;
}

.active-nav {
  font-weight: bold;
}

.content-container {
  display: flex;
  flex-direction: column;
  width: 82%;
}

.courses-container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.header {
  font-size: 1.75rem;
  margin-left: 2%;
  margin-bottom: 1rem;
}

.courses-card-container {
  display: flex;
  flex-wrap: wrap;
}

.course-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 25%;
  min-width: 200px;
  height: 100px;
  margin: 2%;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 1rem;
  box-shadow: 0 10px 40px -10px rgba(0,64,128,.35);
  background-color: #ffb294;
}

.course-card-shortname {
  font-size: 1.25rem;
  font-weight: 600;
  text-align: center;
  margin: .5rem 0rem;
}

.course-card-name {
  font-size: 1rem;
  color: #555;
  text-align: center;
  margin: .5rem 0rem;
}
